<footer>
  NCS are free for any content creators, but please remember to credit the song
  you have used.<br />
  Made with ❤️ by <a href="https://elvismao.com">Elvis Mao</a> |
  <a href="https://github.com/Edit-Mr/NCS-Downloader">GitHub Repository</a>
</footer>
